public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=*autoprefixer*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*semantic-release*
public-hoist-pattern[]=*@umijs/openapi*

